<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assests/css/bootstrap.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/index.css" />

    <title>Cognitia 2k19</title>

</head>

<body>
    <div class="social-icons">
        <a href="https://www.facebook.com/NITMcognitia/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="http://www.nitmeghalaya.in/nitmeghalaya/" class="college-site"><i class="fa fa-home"></i></a>
        <a href="#" class="youtube"><i class="fa fa-play"></i></a>
    </div>

    <section id="firstPart">
        <div class="myDiv">
            <div data-aos="zoom-in" data-aos-duration="1000" class="bg"></div>
            <nav data-aos="fade-down" data-aos-easing="ease-out" data-aos-duration="800"
                class="navbar navbar-expand-lg navbar-dark py-3" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="/">Cognitia</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/events/robotics">Robotics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/events/departmental">Departmental</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/events/otherevents">Other Events</a>
                            </li>

                        </ul>
                        <!--Right Side Nav elements -->
                        <ul class="navbar-nav ml-auto my-2 my-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link" href="/registration">Registration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- <div data-aos="zoom-in-up" data-aos-duration="1000" class="container" id="main-text">
                <h1 data-aos="zoom-in-up" data-aos-duration="600" data-aos-delay="400" id="heading"
                    class="display-1 text-center">Cognitia'19</h1>
                <h5 data-aos="zoom-in-down" data-aos-duration="600" data-aos-delay="400" id="tagline"
                    class="text-center">-The Annual TechFest of NIT Meghalaya</h5>
            </div> -->

            <div class='svg-logo'>
                <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1307.76 330.42">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                stroke-width: 3px;
                            }
                        </style>
                    </defs>
                    <title>Asset 2</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1"
                                d="M80.32,72.8Q78.41,89,68.33,97.86t-26.82,8.83q-18.15,0-29.08-13T1.5,58.88V49q0-14.26,5.1-25.1A38.06,38.06,0,0,1,21.05,7.3,40.18,40.18,0,0,1,42.7,1.5Q59,1.5,68.86,10.61t11.46,25.2H66.75Q65,23.54,59.12,18T42.7,12.54q-12.93,0-20.28,9.57T15.07,49.34v9.93q0,16.68,7,26.53t19.48,9.85q11.25,0,17.26-5.1t8-17.75Z" />
                            <path class="cls-1"
                                d="M177.49,57.4q0,15-5.06,26.26a38.41,38.41,0,0,1-14.34,17.12,39.46,39.46,0,0,1-21.66,5.91,38.18,38.18,0,0,1-36-22.89q-5.16-11-5.3-25.49V50.93q0-14.76,5.13-26.09a38,38,0,0,1,36-23.34A39.7,39.7,0,0,1,158,7.44a38.26,38.26,0,0,1,14.45,17.23q5.06,11.28,5.06,26.26Zm-13.43-6.61q0-18.21-7.31-27.95T136.29,13.1q-12.79,0-20.15,9.74t-7.55,27V57.4q0,17.66,7.41,27.74t20.43,10.09q13.08,0,20.25-9.53t7.38-27.32Z" />
                            <path class="cls-1"
                                d="M273.33,91.85A31.19,31.19,0,0,1,258.81,103a58.66,58.66,0,0,1-21.69,3.69,42.09,42.09,0,0,1-22.22-5.87,39.14,39.14,0,0,1-15-16.7q-5.31-10.83-5.45-25.1V50.09q0-23.15,10.79-35.86T235.57,1.5q16,0,25.81,8.19t11.95,23.24h-13.5Q256,12.55,235.64,12.54q-13.57,0-20.57,9.54T208,49.7v8.37q0,17.24,7.87,27.41t21.31,10.17A47.19,47.19,0,0,0,250.48,94a20.65,20.65,0,0,0,9.42-5.69V65.34H236.2v-11h37.13Z" />
                            <path class="cls-1"
                                d="M374.51,105.28H360.94L309.4,26.39v78.89H295.83V2.91H309.4l51.68,79.24V2.91h13.43Z" />
                            <path class="cls-1" d="M413,105.28h-13.5V2.91H413Z" />
                            <path class="cls-1" d="M506.34,14h-32.9v91.33H460V14H427.17v-11h79.17Z" />
                            <path class="cls-1" d="M536,105.28h-13.5V2.91H536Z" />
                            <path class="cls-1"
                                d="M618.49,78.49H575.6L566,105.28H552.05L591.14,2.91H603l39.17,102.37H628.27Zm-38.81-11h34.8L597.05,19.57Z" />
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </section>

    <section id="about" class="mt-5">
        <div data-aos="zoom-out-right" data-aos-duration="600" data-aos-anchor-placement="top-center"
            class="mycontainer c-about">
            <h1 data-aos="zoom-out-left" data-aos-duration="400" data-aos-delay="600"
                class="display-3 text-center mb-3 mt-5"><em>About Us</em></h1>
            <p class="text-left pt-1" id="info">
                COGNITIA is annual technical festival of National Institute of Technology,Meghalaya.
                Cognitia literally means "I think therefore I am" and is a celebration of the creative spirit and
                youthful energy
                inherent in the country's college students. This time it's a whole new game, it's not about the victors
                or the
                vanquished, it's not about glory or defeat. It's about conquering your demons, it's about upping
                yourself, it's about
                the quest for excellence. Cognitia has gradually diversified into an organisation that apart from
                showcasing the
                pinnacle of technical advancement, strives for betterment of the society by developing an inclination of
                youth populace
                towards the current social issues through unique initiatives.
            </p>
        </div>
    </section>


    <section id="RoboEvents">
        <h1 data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-duration="600"
            class="display-3 text-center"><em>Robotics</em></h1>
        <div data-aos="zoom-out" data-aos-anchor-placement="top-center" data-aos-duration="800" class="mygrid g-form-1">
            <div class="g-form-2 xgrid item-1">
                <div class="item-inner-1 grid-item text-center">
                    <span class="grid-item-name">Pick N' Place</span>
                    <div class="grid-hover-content">Test your Bot's precision!</div>

                </div>
                <div class="item-inner-2 grid-item text-center">
                    <span class="grid-item-name">Prison Breakout</span>
                    <div class="grid-hover-content">Free your Friendly-Bot from prison!</div>
                </div>
            </div>

            <div class="grid-item item-4 text-center">
                <span class="grid-item-name">Line Follower Robot</span>
                <div class="grid-hover-content">Follow the line and get to your goal!</div>
            </div>
            <div class="grid-item item-5 text-center">
                <span class="grid-item-name">Robodiction</span>
                <div class="grid-hover-content">Traverse rough terrain to get to your goal!</div>
            </div>
            <div class="grid-item item-6 text-center">
                <span class="grid-item-name">Goal Against Time</span>
                <div class="grid-hover-content">Score as many goals as you can with your Bot!</div>
            </div>

            <div class="g-form-3 xgrid item-3">
                <div class="item-inner-3 grid-item text-center">
                    <span class="grid-item-name">Race Against Time</span>
                    <div class="grid-hover-content">The fastest Bot one wins!</div>
                </div>
                <div class="item-inner-4 grid-item text-center">
                    <span class="grid-item-name">Robo Rumble</span>
                    <div class="grid-hover-content">Duke it out with your Bots!</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary grid-button"><a href="/registration">Register</a></button>

    </section>

    <section id="contact" class="mt-4">
        <div data-aos="flip-up" data-aos-duration="1000" data-aos-easing="ease-out"
            data-aos-anchor-placement="top-center" class="mycontainer c-contact">
            <h1 data-aos="fade-down-right" data-aos-duration="600" data-aos-delay="800"
                class="display-3 text-center mb-5"><em>The Team</em></h1>
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" class="col-sm-6">
                    <div class="card" id="GS1">
                        <img src="/assests/images/head1.jpg" class="card-img-top round">
                        <div class="card-body">
                            <h3 class="card-title">GS Technical-I</h3>
                            <h5>Deepak Shah</h5>
                            <p class="card-text"><i class="fa fa-phone-square"></i>
                                :7005269090
                            </p>
                            <p class="card-text"><i class="fa fa-envelope-square"></i>
                                deepakshah@gmail.com
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-left" data-aos-duration="600" data-aos-delay="500" class="col-sm-6">
                    <div class="card" id="GS2">
                        <img src="/assests/images/head1.jpg" class="card-img-top round">
                        <div class="card-body">
                            <h3 class="card-title">GS Technical-II</h3>
                            <h5>Priyesh Singh</h5>
                            <p class="card-text"><i class="fa fa-phone-square"></i>
                                :7005269090
                            </p>
                            <p class="card-text"><i class="fa fa-envelope-square"></i>
                                priyeshsingh@gmail.com
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footmarg">
            <h1 data-aos="fade-right" data-aos-duration="600" class="text-center mt-3">Visit Us</h1>
            <hr>
            <div class="row">
                <div class="col-12">
                    <iframe id="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.933509797099!2d91.89251901433362!3d25.57387878372239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37507ebea0669f29%3A0x9017af20606a5f81!2sNational%20Institute%20of%20Technology%2C%20Meghalaya!5e0!3m2!1sen!2sin!4v1567361515978!5m2!1sen!2sin"
                        width="800" height="200" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center mb-4">&copy; Cognitia 2019,NIT Meghalaya</footer>

    <!--Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"> </script>
    <script>
        anime({
            targets: 'section .myDiv .svg-logo  #logo path',
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            duration: 2000,
            delay: function (el, i) { return i * 250 },
            direction: 'alternate',
            loop: false
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>




</html>