*{
    font-family: 'Arimo', sans-serif;
}
body{
    background:#f1f1f1;
}
a{text-decoration: none;color:#fff;}

   
    
.round{
    border-radius: 50%;
}
.card{
    display:block;
    margin:0 auto;
    background:transparent;
    border:0;
    width:70%;
    text-align:center;
}
.card-body{
    text-align: center;
}


#map{
    display:block;
    margin:0 auto;
}
.myDiv {
    position: relative;
    z-index: 1;
    height: 100vh;
    width:100%;
    overflow:hidden;
}

.myDiv .bg {
    position:absolute;
    z-index: -1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /* background: url(/assests/images/background.jpg) center ; */
    background: url("https://i.pinimg.com/originals/1b/74/ed/1b74ed53670b66f50f4a0a2d4c59f7f5.gif") center;
    background-size: cover;
    width:100%;
    opacity: .76;
    
    
}
.navbar-dark .navbar-brand{
    color:rgb(0, 204, 255);
    text-shadow: 6px 6px 8px black;
}


.navbar-dark .navbar-nav .nav-link {
      color:rgb(0, 204, 255);
    text-shadow: 6px 6px 8px black;
    font-weight:bold;
}

#heading{
    color:white;
    text-shadow: 13px 13px 8px black;
}
#main-text{
    padding-top:10%;
}
#tagline{
    color:white;
    text-shadow: 10px 10px 8px black;

}

#about, #sponsors, #contact{
    margin-top:5em;
}
#sponsors{
    margin-bottom:5em;
}
.footmarg{
    margin-top:5em;
}
@media(max-width:1000px){
    #main-text{
        padding-top:20%;
    }
    .display-1{
        font-size:3.5rem;
    }
    .card-title{
        font-size:1.4em;
    }
}

@media(max-width:500px){
     iframe{
        width:90%;
        height:300px;
    }
}

img{
    max-width:100%;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
.mycontainer{
    display:block;
    box-sizing:border-box;
    width:60vw;
    margin:0 auto;
}
.c-about{
    position:relative;
    font-size: 1.2em;
    line-height:2;
}

@media screen and (max-width:800px){
    .mycontainer{
        width:80vw;
    }
    .c-about{
        line-height:1.4;
    }
    .display-3{
        font-size:2.5rem;
    }
}
@media screen and (max-width: 600px){
    .mycontainer{
        width:90vw;
    }
    .c-about{
        line-height:1.2;
    }
}


.social-icons {
    position: fixed;
    right:0;
    top:50%;
    transform: translate(-25%,-50%);
    z-index:3;
  }

  .social-icons a {
    width: 3rem;
    height: 3rem;
    display: block;
    text-align: center;
    border-radius: 50%;
    font-size: 1.25rem;
    margin: 3rem 1rem 0 0;
  }
  
  .social-icons a:hover {
    background-color: #000;
  }
  
  .facebook {
    padding: 0.65rem 0.5rem 0.5rem 0.45rem;
    background: #3B5998;
    color: whitesmoke;
  }
  
  .college-site{
    padding: 0.65rem 0.5rem 0.5rem 0.45rem;
    background: rgb(37, 54, 90);
    color: whitesmoke;
  }
  
  .youtube{
    padding: 0.65rem 0.35rem 0.5rem 0.5rem;
    background: rgb(194, 29, 29);
    color: rgb(245, 245, 245);
  }


  #RoboEvents{
    display:block;
    height:80vh;
    width:80vw;
    margin:0 auto;  
  }
  .mygrid{
      display:grid;
      box-sizing:border-box;
      padding:1em;
      width:100%;
      height:80%;
      margin:0 auto;
      margin-top:3rem;
  }
  .g-form-1{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
  }
  .g-form-2{
      display:grid;
      grid-template-rows: 5fr 3fr; 
  }
  .g-form-3{
    display:grid;
    grid-template-rows: 5fr 4fr; 
  }


  .item-1{
    grid-column: 1 / 3; 
    grid-row: 1 / 6;
  }
  .item-4{
   
    grid-column: 3 / 5; 
    grid-row: 1 / 3;
  } 
  .item-5{grid-row: 3 / 6;
    }
  .item-6{grid-row: 3 / 6;
    overflow:hidden;
    }
  .item-3{
        grid-column:5 / 6;
        grid-row: 1 / 6;
    }
    .grid-item{overflow:hidden;
        transition: 0.5s ease-out;}
    .grid-item-name{
        display:block;
        position:relative;
        opacity:1;
        top: 50%; left: 50%;
        font-size:1.5rem;
        font-weight:600;
        color:#fff;
        text-shadow: 1px 2px 2px rgb(41, 41, 41);
        transform: translate(-50%,-50%);
        transition: 0.5s ease-in;
    }

.grid-hover-content{
    display:block;
    position: absolute;;
    z-index:5;
    top:20%;left:50%;
    transform: translate(-50%,-50%);
    font-size:1.2em;
    height:0;
    color:#fff;
    text-shadow: 1px 2px 2px rgb(41, 41, 41);
    opacity: 0;
    transition: 0.5s ease-in;
}

.grid-button{
    display: block;
    width:50%;
    padding: 0.5rem 1rem;
    margin:0 auto;
}
.button-wrap{
    display:block;
    margin:0 auto;
}
.button-wrap div{
    display:block;
    width:50%;
    float:left;
}
.item-4{ background: linear-gradient(rgb(27, 135, 207),rgb(134, 247, 222));}
.item-5{background: linear-gradient(rgb(35, 144, 199),rgb(117, 169, 212));}
.item-6{background: linear-gradient(#1c9eda,rgb(92, 182, 194));}
.item-inner-1{background: linear-gradient(#00A6FB,rgb(142, 219, 230));}
.item-inner-2{background: linear-gradient(#0582CA,rgb(144, 179, 245));}
.item-inner-3{background: linear-gradient(rgb(14, 160, 233),rgb(117, 210, 223));}
.item-inner-4{background: linear-gradient(#0582CA,rgb(117, 210, 223));}


#RoboEvents{
    margin-bottom:20vh;
}
.grid-item:hover .grid-hover-content{
    height:10%;
    opacity: 1;
    transition: 0.5s ease-in;
}
.grid-button a{
    text-decoration: none;
    color:#fff;
}
.grid-item:hover .grid-item-name{
    top:-100%;
    transition: 0.25s ease-in;
}

.svg-logo{
    display: block;
    height: 100%;
    width: 100%;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}
@media screen and (max-width:800px){
.social-icons {
  display:none;
}
    .mygrid{
        display:block;
    }
    .g-form-2{
        display:block;
    }
    .grid-item{
        display:block;
        width:50%;
        height:30%;
        float:left;
    }
    #RoboEvents{
        display:block;
    }
    .item-inner-1, .item-inner-2{
        display:block;
        height:100%;
    }
    .g-form-3{
        display:block;
        width:100%;
    }
    .item-inner-3, .item-inner-4{
        display:block;
        height:100%;
    }
    .xgrid{
        height:30%;
    }
    .grid-item-name, .grid-hover-content{
        font-size:1rem;
    }
    .grid-hover-content{
        box-sizing: border-box;
        padding: 1em;
        width:100%;
        font-size:0.75rem;
        top:0%;
    }
    .button-wrap div{width:100%; margin: 1rem 0;}
}