*{
    font-family: 'Arimo', sans-serif;
}
body{
    background:#f1f1f1;
}

   
    
.round{
    border-radius: 50%;
}
.card{
    display:block;
    margin:0 auto;
    background:transparent;
    border:0;
    width:70%;
    text-align:center;
}
.card-body{
    text-align: center;
}


#map{
    display:block;
    margin:0 auto;
}
.myDiv {
    position: relative;
    z-index: 1;
    height: 100vh;
    width:100%;
}

.myDiv .bg {
    position:absolute;
    z-index: -1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: url(/assests/images/background.jpg) center ;
    background-size: cover;
    width:100%;
    opacity: .76;
    
    
}
.navbar-dark .navbar-brand{
  color:yellow;
    text-shadow: 6px 6px 8px black;
}


.navbar-dark .navbar-nav .nav-link {
      color:yellow;
    text-shadow: 6px 6px 8px black;
    font-weight:bold;
}

#heading{
    color:white;
    text-shadow: 13px 13px 8px black;
}
#main-text{
    padding-top:10%;
}
#tagline{
    color:white;
    text-shadow: 10px 10px 8px black;

}

@media(max-width:1000px){
    #main-text{
        padding-top:20%;
    }
    .display-1{
        font-size:3.5rem;
    }
   
}

@media(max-width:500px){
     iframe{
        width:90%;
        height:300px;
    }
}

img{
    max-width:100%;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

.mycontainer{
    display:block;
    box-sizing:border-box;
    width:60vw;
    margin:0 auto;
}
.c-about{
    font-size: 1.2em;
    line-height:1.6;
}

@media screen and (max-width:800px){
    .mycontainer{
        width:80vw;
    }
    .c-about{
        line-height:1.4;
    }
}
@media screen and (max-width: 600px){
    .mycontainer{
        width:90vw;
    }
    .c-about{
        line-height:1.2;
    }
}

