body{
    background: #f1f1f1;
}

.thumbs{
  
    height:200px;
}
h6{
    padding-top:55px;
}

.thumbs:hover{
    border:3px solid purple;
}
a{
    color:black;
}

@media(max-width:1000px){
    blockquote .display-4{
        font-size:3rem;
    }
}